.b-list{
	padding-top: 20px;
}
.bucket{
	margin-top: 20px;
}
.view .form-control{
	width: 80%;
}
.Tarea{
	padding-top: 18px;
}
.Tarea2{
	padding-top: 20px;
}
.container{
	max-width:1040px;
	background-color:#04f3ff;
}